.navbar {
    position: fixed;
    z-index: 1000;
    transition: background-color 0.1s ease; /* Smooth transition for background color */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6px;
}

.navbar.scrolled {
    background-color: black; /* Change to black when scrolled */
}

.first-session {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 55px;
    margin-top: 15px;
}

.buttons-navbar {
    margin-left: 30px;
    margin-top: 9px;
}

.btn-header {
    font-size: 15px;
    margin-right: 14px;
    text-decoration: none; /* Changed to standard property */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.second-section{
    display: flex;
    align-items: center;
    padding-right: 6%;
    justify-content: space-between;
    
}

.ss-icons{
    margin-right: 15%;
}